<div class="example-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">JT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{{path('victime_index')}}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Qui sommes nous</a>
            </li>
            {% if not is_granted('IS_AUTHENTICATED_FULLY')%}
            <li class="nav-item">
              <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
            </li>
            
            {% else %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mom compte</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Voir profil</a>
                  <a class="dropdown-item" href="#">Ecrire un article</a>
                  <a class="dropdown-item" href="#">Deconnexion</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>